<!DOCTYPE HTML>
<html>
<head>
<script src="/style/js/allmobilize.min.js" charset="utf-8" id="allmobilize"></script>
<meta content="no-siteapp" http-equiv="Cache-Control">
<link  media="handheld" rel="alternate">

<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{{title}}</title>

<link href="/style/css/style.css" type="text/css" rel="stylesheet">
<link href="/style/css/external.min.css" type="text/css" rel="stylesheet">
<link href="/style/css/popup.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/style/js/jquery.1.10.1.min.js"></script>
<script src="/style/js/jquery.lib.min.js" type="text/javascript"></script>

</head>
<div id="body">
	<body>

   	<div id="header">
    	<div class="wrapper">
    		<a class="logo" href="index.html">
    			<img width="229" height="43" alt="拉勾招聘-专注互联网招聘" src="/style/images/logo.png">
    		</a>
    		<ul id="navheader" class="reset">
    				<li><a href="index.html">首页</a></li>
    			<li class="current"><a href="companylist.html">公司</a></li>
    			<li ><a href="list.html" >求职</a></li>   				    			
	    		<li><a rel="nofollow" href="">简历管理</a></li>			    			
	    		<li><a rel="nofollow" href="create.html">发布职位</a></li>
	    		    		</ul>
        	        	<dl class="collapsible_menu">
            	<dt>
           			<span>jason&nbsp;</span> 
            		<span class="red dn" id="noticeDot-1"></span>
            		<i></i>
            	</dt>
                                	<dd><a href="positions.html">我发布的职位</a></dd>
                	<dd><a href="positions.html">我收到的简历</a></dd>
                	<dd class="btm"><a href="myhome.html">我的公司主页</a></dd>
                	<dd><a href="jianli.html">我要找工作</a></dd>
                                                <dd><a href="accountBind.html">帐号设置</a></dd>
                                <dd class="logout"><a rel="nofollow" href="login.html">退出</a></dd>
            </dl>
                                </div>
    </div><!-- end #header -->



	  {% block main %} {% endblock %}

  

    <div>
       	<div id="footer">
		<div class="wrapper">
			<a rel="nofollow" target="_blank" href="about.html">联系我们</a>
		    <a target="_blank" href="http://www.htmlsucai.com">互联网公司导航</a>
		    <a rel="nofollow" target="_blank" href="http://www.htmlsucai.com">拉勾微博</a>
		    <a rel="nofollow" href="javascript:void(0)" class="footer_qr">拉勾微信<i></i></a>
			<div class="copyright">&copy;2013-2014 Lagou <a href="http://www.htmlsucai.com" target="_blank">京ICP备14023790号-2</a></div>
		</div>
	</div>
  
    </div>
       
	</body>








</html>
