{% extends "base.html" %} {% block main %}
		<div id="container">
			<!-- <script src="/style/js/swfobject_modified.js" type="text/javascript"></script> -->
			<div class="clearfix">

				<div class="content_l">
					<div class="c_detail">
						<div style="background-color:#fff;" class="c_logo">
							<a title="上传公司LOGO" id="logoShow" class="inline cboxElement" href="#logoUploader">
		                				                			<img width="190" height="190" alt="公司logo" src="/style/images/logo_default.png">
	                        		                        	
	                        	<span>更换公司图片<br>190px*190px 小于5M</span>
	                        </a>
						</div>

						<!--  			                <div class="c_logo" style="background-color:#fff;">
			                	<div id="logoShow">
			                		<img src="/style/images/logo_default.png" width="190" height="190" alt="公司logo" />
		                        	<span>更换公司图片<br />190px*190px 小于5M</span>
		                        </div>
		                        <input onchange="img_check(this,'http://www.lagou.com/cd/saveProfileLogo.json',25927,'logo');" type="file" id="logo" name="logo" title="支持jpg、jpeg、gif、png格式，文件小于5M" />
			                     
			                </div>
		                    <span class="error" id="logo_error" style="display:none;"></span>
						     -->

						<div class="c_box companyName">
							<h2 title="{{com.com_name}}">{{com.com_name}}</h2>

							<em class="unvalid"></em>
							<span class="va dn">未认证企业</span>
							<a target="_blank" class="applyC" href="http://www.htmlsucai.com">申请认证</a>
							<div class="clear"></div>

							<h1 title="{{com.com_name}}" class="fullname">{{com.com_name}}</h1>

							<form class="clear editDetail dn" id="editDetailForm">
								<input type="text" placeholder="请输入公司简称" maxlength="15" value="{{com.com_name}}" name="com_name" id="com_name">
								<input type="text" placeholder="公司地址" maxlength="50" value="{{com.com_name}}" name="companyFeatures" id="companyFeatures">
								<input type="hidden" value="25927" id="com_name" name="com_name">
								<input type="submit" value="保存" id="saveDetail" class="btn_small">
								<a id="cancelDetail" class="btn_cancel_s">取消</a>
							</form>

							<div class="clear oneword"><img width="17" height="15" src="/style/images/quote_l.png">&nbsp; <span>{{com.com_addr}}</span> &nbsp;<img width="17"
								 height="15" src="/style/images/quote_r.png"></div>
							<h3 class="dn">已选择标签</h3>
							<ul style="overflow:auto" id="hasLabels" class="reset clearfix">
								<li><span>年终分红</span></li>
								<li><span>五险一金</span></li>
								<li><span>弹性工作</span></li>
								<li><span>岗位晋升</span></li>
								<li class="link">编辑</li>
							</ul>
							<div class="dn" id="addLabels">
								<a id="changeLabels" class="change" href="javascript:void(0)">换一换</a>
								<input type="hidden" value="1" id="labelPageNo">
								<input type="submit" value="贴上" class="fr" id="add_label">
								<input type="text" placeholder="添加自定义标签" name="label" id="label" class="label_form fr">
								<div class="clear"></div>
								<ul class="reset clearfix"> </ul>
								<a id="saveLabels" class="btn_small" href="javascript:void(0)">保存</a>
								<a id="cancelLabels" class="btn_cancel_s" href="javascript:void(0)">取消</a>
							</div>
						</div>
						<a title="编辑基本信息" class="c_edit" id="editCompanyDetail" href="javascript:void(0);"></a>
						<div class="clear"></div>
					</div>

					<div class="c_breakline"></div>



					<div id="Profile">
						<div class="profile_wrap">
							<!--无介绍 -->
							<dl class="c_section dn">
								<dt>
									<h2><em></em>公司介绍</h2>
								</dt>
								<dd>
									<div class="addnew">
										详细公司的发展历程、让求职者更加了解你!<br>
										<a id="addIntro" href="javascript:void(0)">+添加公司介绍</a>
									</div>
								</dd>
							</dl>
							<!--编辑介绍-->
							<dl class="c_section newIntro dn">
								<dt>
									<h2><em></em>公司介绍</h2>
								</dt>
								<dd>
									<form id="companyDesForm">
										<textarea placeholder="请分段详细描述公司简介、企业文化等" name="com_desc" id="companyProfile">{{com.com_desc}}</textarea>
										<div class="word_count fr">你还可以输入 <span>1000</span> 字</div>
										<div class="clear"></div>
										<input type="submit" value="保存" id="submitProfile" class="btn_small">
										<a id="delProfile" class="btn_cancel_s" href="javascript:void(0)">取消</a>
									</form>
								</dd>
							</dl>

							<!--有介绍-->
							<dl class="c_section">
								<dt>
									<h2><em></em>公司介绍</h2>
								</dt>
								<dd>
									<div class="c_intro">{{com.com_desc}}</div>
									<a title="编辑公司介绍" id="editIntro" class="c_edit" href="javascript:void(0)"></a>
								</dd>
							</dl>
						</div>

					</div>
					<!-- end #Profile -->

					<!--[if IE 7]> <br /> <![endif]-->

					<!--无招聘职位-->
					<dl id="noJobs" class="c_section">
						<dt>
							<h2><em></em>招聘职位</h2>
						</dt>
						<dd>
							<div class="addnew">
								发布需要的人才信息，让伯乐和千里马尽快相遇……<br>
								<a href="/com/publish/job">+添加招聘职位</a>
							</div>
						</dd>
					</dl>

					<input type="hidden" value="" name="hasNextPage" id="hasNextPage">
					<input type="hidden" value="" name="pageNo" id="pageNo">
					<input type="hidden" value="" name="pageSize" id="pageSize">
					<div id="flag"></div>
				</div>
				<!-- end .content_l -->

				<div class="content_r">
					<div id="Tags">
						<div id="c_tags_show" class="c_tags solveWrap">
							<table>
								<tbody>
									<tr>
										<td width="45">地点</td>
										<td>{{com.com_city}}</td>
									</tr>
									<tr>
										<td>领域</td>
										<!-- 支持多选 -->
										<td title="移动互联网">{{com.com_label}}</td>
									</tr>
									<tr>
										<td>规模</td>
										<td>{{com.com_scale}}</td>
									</tr>
									<tr>
										<td>主页</td>
										<td>
											<a rel="nofollow" title="{{com.com_website}}" target="_blank" href="{{com.com_website}}">{{com.com_website}}</a>
										</td>
									</tr>
								</tbody>
							</table>
							<a id="editTags" class="c_edit" href="javascript:void(0)"></a>
						</div>
						<div id="c_tags_edit" class="c_tags editTags dn">
							<form id="tagForms">
								<table>
									<tbody>
										<tr>
											<td>地点</td>
											<td>
												<input type="text" placeholder="请输入地点" value="上海" name="com_add" id="com_add">
											</td>
										</tr>
										<tr>
											<td>领域</td>
											<!-- 支持多选 -->
											<td>
												<input type="hidden" value="{{com.com_label}}" id="industryField" name="com_type">
												<input type="button" style="background:none;cursor:default;border:none !important;" disable="disable" value="{{com.com_label}}"
												 id="select_ind" class="select_tags">
												<!-- <div id="box_ind" class="selectBox dn">
		                                    <ul class="reset">
			                                    				                 <li class="current">{{com.com_label}}</li>
				                            							         </ul>
		                                </div>	 -->
											</td>
										</tr>
										<tr>
											<td>规模</td>
											<td>
												<input type="hidden" value="150-500人" id="companySize" name="companySize">
												<input type="button" value="150-500人" id="select_sca" class="select_tags">
												<div class="selectBox dn" id="box_sca" style="display: none;">
													<ul class="reset">
														<li>少于15人</li>
														<li>15-50人</li>
														<li>50-150人</li>
														<li class="current">150-500人</li>
														<li>500-2000人</li>
														<li>2000人以上</li>
													</ul>
												</div>
											</td>
										</tr>
										<tr>
											<td>主页</td>
											<td>
												<input type="text" placeholder="请输入网址" value="http://www.vickey.me" name="companyUrl" id="com_website">
											</td>
										</tr>
									</tbody>
								</table>
								<input type="hidden" id="com_add" value="{{com.com_city}}">
								<input type="hidden" id="com_type" value="{{com.com_label}}">
								<input type="hidden" id="com_scale" value="{{com_scale}}人">
								<input type="hidden" id="com_website" value="{{com.com_website}}">
								<input type="submit" value="保存" id="submitFeatures" class="btn_small">
								<a id="cancelFeatures" class="btn_cancel_s" href="javascript:void(0)">取消</a>
								<div class="clear"></div>
							</form>
						</div>
					</div>
					<!-- end #Tags -->

					<dl class="c_section c_stages">
						<dt>
							<h2><em></em>融资阶段</h2>
							<a title="编辑融资阶段" class="c_edit" href="javascript:void(0)"></a>
						</dt>
						<dd>
							<ul class="reset stageshow">
								<li>目前阶段：<span class="c5">天使轮</span></li>
							</ul>
							<form class="dn" id="stageform">
								<div class="stageSelect">
									<label>目前阶段</label>
									<input type="hidden" value="天使轮" id="financeStage" name="com_capital">
									<input type="button" value="天使轮" id="select_fin" class="select_tags_short fl">
									<div class="selectBoxShort dn" id="box_fin" style="display: none;">
										<ul class="reset">

											<li>未融资</li>


											<li>天使轮</li>


											<li>A轮</li>


											<li>B轮</li>


											<li>C轮</li>


											<li>D轮及以上</li>


											<li class="current">上市公司</li>

										</ul>
									</div>
								</div>
								<ul id="stagesList" class="reset">
									<li>
										<label>融资阶段</label>
										<input type="hidden" class="select_invest_hidden" name="select_invest_hidden">
										<input type="button" value="融资阶段" class="select_tags_short select_invest">
										<div class="selectBoxShort dn" style="display: none;">
											<ul class="reset">
												<li>天使轮</li>
												<li>A轮</li>
												<li>B轮</li>
												<li>C轮</li>
												<li>D轮及以上</li>
												<li>上市公司</li>
											</ul>
										</div>
										<label>投资机构</label>
										<input type="text" placeholder="如真格基金" name="stageorg" value="">
									</li>
								</ul>
								<input type="submit" value="保存" class="btn_small">
								<a id="cancelStages" class="btn_cancel_s" href="javascript:void(0)">取消</a>
								<div class="clear"></div>

								<div class="dn" id="cloneInvest">
									<label>融资阶段</label>
									<input type="hidden" class="select_invest_hidden" name="select_invest_hidden">
									<input type="button" value="发展阶段" class="select_tags_short select_invest">
									<div class="selectBoxShort dn" style="display: none;">
										<ul class="reset">
											<li>天使轮</li>
											<li>A轮</li>
											<li>B轮</li>
											<li>C轮</li>
											<li>D轮及以上</li>
											<li>上市公司</li>
										</ul>
									</div>
									<label>投资机构</label>
									<input type="text" placeholder="如真格基金" name="stageorg">
								</div>
							</form>
						</dd>
					</dl>
					<!-- end .c_stages -->


					<div id="Member">
						<!--有创始团队-->
						<dl class="c_section c_member">
							<dt>
								<h2><em></em>公司负责人</h2>
								<a title="添加负责人" class="c_add" href="javascript:void(0)"></a>
							</dt>
							<dd>

								<div class="member_wrap">

									<!-- 无创始人 -->
									<div class="member_info addnew_right dn">
										展示公司的领导班子，<br>提升诱人指数！<br>
										<a class="member_edit" href="javascript:void(0)">+添加成员</a>
									</div>

									<!-- 编辑创始人 -->
									<div class="member_info newMember dn">
										<form class="memberForm">
											<div class="new_portrait">
												<div class="portrait_upload dn portraitNo">
													<span>上传创始人头像</span>
												</div>
												<div class="portraitShow">
													<img width="120" height="120" src="/style/images/leader_default.png">
													<span>更换头像</span>
												</div>
												<input type="file" value="" title="支持jpg、jpeg、gif、png格式，文件小于5M" onchange="member_check(this,'http://www.lagou.com/c/upload.json','portraitNo','portraitShow','type','leaderInfos');"
												 name="myfiles" id="profiles0">
												<input type="hidden" value="7" name="type" class="type">
												<input type="hidden" value="images/leader_default.png" name="photo" class="leaderInfos">
												<em>
												                                尺寸：120*120px <br> 	
												                                大小：小于5M
						                            </em>
											</div>
											<input type="text" placeholder="请输入创始人姓名" value="{{com.com_hr}}" name="name">
											<input type="text" placeholder="请输入创始人当前职位" value="ceo" name="position">
											<input type="text" placeholder="请输入创始人新浪微博地址" value="http://weimob.weibo.com" name="weibo">
											<textarea placeholder="请输入创始人个人简介" maxlength="500" class="s_textarea" name="remark">{{com.com_user_phone}}</textarea>
											<div class="word_count fr">你还可以输入 <span>500</span> 字</div>
											<div class="clear"></div>
											<input type="submit" value="保存" class="btn_small">
											<a class="btn_cancel_s member_delete" href="javascript:void(0)">删除</a>
											<input type="hidden" value="11493" class="leader_id">
										</form>
									</div>

									<!-- 显示创始人 -->
									<div class="member_info">
										<a title="编辑创始人" class="c_edit member_edit" href="javascript:void(0)"></a>
										<div class="m_portrait">
											<div></div>
											<img width="120" height="120" alt="孙泰英" src="/style/images/leader_default.png">
										</div>
										<div class="m_name">
											{{com.com_hr}}
											<a target="_blank" class="weibo" href=""></a>
										</div>
										<div class="m_position">HR</div>
										<div class="m_intro">{{com.com_user_phone}}</div>
									</div>

								</div>
								<!-- end .member_wrap -->
							</dd>
						</dl>
					</div>
					<!-- end #Member -->


				</div>

			
				<div style="display:none;">

				</div>
		

				<script src="/style/js/c_index.min.js" type="text/javascript"></script>
				<script>
					var avatar = {};
					avatar.uploadComplate = function (data) {
						var result = eval('(' + data + ')');
						if (result.success) {
							jQuery('#logoShow img').attr("src", ctx + '/' + result.content);
							jQuery.colorbox.close();
						}
					};

				</script>
				<div class="clear"></div>
				<input type="hidden" value="d1035b6caa514d869727cff29a1c2e0c" id="resubmitToken">
				<a rel="nofollow" title="回到顶部" id="backtop" style="display: inline;"></a>
			</div>
			<!-- end #container -->
	
{% endblock %}