{% extends "base.html" %} {% block main %}
<div id="container">
    <div class="sidebar">
        <a class="btn_create" href="create.html">发布新职位</a>
        <dl class="company_center_aside">
            <dt>我收到的简历</dt>
            <dd>
                <a href="">待处理简历</a>
            </dd>
            <dd>
                <a href="canInterviewResumes.html">待定简历</a>
            </dd>
            <dd>
                <a href="haveNoticeResumes.html">录取简历</a>
            </dd>
            <dd>
                <a href="haveRefuseResumes.html">不合适简历</a>
            </dd>
        </dl>
        <dl class="company_center_aside">
            <dt>我发布的职位</dt>
            <dd>
                <a href="positions.html">有效职位</a>
            </dd>
            <dd>
                <a href="positions.html">已下线职位</a>
            </dd>
        </dl>
        <div class="subscribe_side mt20">
            <div class="f14">想收到更多更好的简历？</div>
            <div class="f18 mb10">就用拉勾招聘加速助手 </div>
            <div>
                咨询：<a class="f16" href="mailto:jessica@lagou.com">jessica@lagou.com</a>
            </div>
            <div class="f18 ti2em">010-57286512</div>
        </div>
        <div class="subscribe_side mt20">
            <div class="f14">加入互联网HR交流群</div>
            <div class="f18 mb10">跟同行聊聊</div>
            <div class="f24">338167634</div>
        </div>
    </div>
    <!-- end .sidebar -->
    <div class="content">
        <dl class="company_center_content">
            <dt>
                <h1>
                    <em></em> 
                      {% if com_job.com_job_id != null%}
                更新职位
                    {%else%}
                  发布新职位
                        {%endif%}

                </h1>
            </dt>
            <dd>
                {% if com_job.com_job_id != null%}
                <form action="/com/update/job" method="post" id="jobForm">
                    {%else%}
                    <form action="/com/publish/job" method="post" id="jobForm">
                        {%endif%}

                        <table class="btm">
                            <tbody>
                                <tr>
                                    <td width="25">
                                        <span class="redstar">*</span>
                                    </td>
                                    <td width="85">职位类别</td>
                                    <td>
                                        <input type="hidden" id="positionType" value="{{com_job.com_job}}" name="com_job">
                                        <input type="button" value="请选择职位类别" id="select_category" class="selectr selectr_380" value="{{com_job.com_job}}">
                                        <div class="dn" id="box_job" style="display: none;">
                                            <dl>
                                                <dt>技术</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>后端开发</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>Java</li>
                                                                <li>C++</li>
                                                                <li>PHP</li>
                                                                <li>数据挖掘</li>
                                                                <li>C</li>
                                                                <li>C#</li>
                                                                <li>.NET</li>
                                                                <li>Hadoop</li>
                                                                <li>Python</li>
                                                                <li>Delphi</li>
                                                                <li>VB</li>
                                                                <li>Perl</li>
                                                                <li>Ruby</li>
                                                                <li>Node.js</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>移动开发</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>HTML5</li>
                                                                <li>Android</li>
                                                                <li>iOS</li>
                                                                <li>WP</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>前端开发</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>web前端</li>
                                                                <li>Flash</li>
                                                                <li>html5</li>
                                                                <li>JavaScript</li>
                                                                <li>U3D</li>
                                                                <li>COCOS2D-X</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>测试</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>测试工程师</li>
                                                                <li>自动化测试</li>
                                                                <li>功能测试</li>
                                                                <li>性能测试</li>
                                                                <li>测试开发</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>运维</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>运维工程师</li>
                                                                <li>运维开发工程师</li>
                                                                <li>网络工程师</li>
                                                                <li>系统工程师</li>
                                                                <li>IT支持</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>DBA</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>MySQL</li>
                                                                <li>SQLServer</li>
                                                                <li>Oracle</li>
                                                                <li>DB2</li>
                                                                <li>MongoDB</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>项目管理</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>项目经理</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端技术职位</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>技术经理</li>
                                                                <li>技术总监</li>
                                                                <li>测试经理</li>
                                                                <li>架构师</li>
                                                                <li>CTO</li>
                                                                <li>运维总监</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>产品</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>产品经理</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>产品经理</li>
                                                                <li>网页产品经理</li>
                                                                <li>移动产品经理</li>
                                                                <li>产品助理</li>
                                                                <li>数据产品经理</li>
                                                                <li>电商产品经理</li>
                                                                <li>游戏策划</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>产品设计师</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>网页产品设计师</li>
                                                                <li>无线产品设计师</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端产品职位</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>产品部经理</li>
                                                                <li>产品总监</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>设计</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>视觉设计</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>视觉设计师</li>
                                                                <li>网页设计师</li>
                                                                <li>Flash设计师</li>
                                                                <li>APP设计师</li>
                                                                <li>UI设计师</li>
                                                                <li>平面设计师</li>
                                                                <li>美术设计师（2D/3D）</li>
                                                                <li>广告设计师</li>
                                                                <li>多媒体设计师</li>
                                                                <li>原画师</li>
                                                                <li>游戏特效</li>
                                                                <li>游戏界面设计师</li>
                                                                <li>游戏场景</li>
                                                                <li>游戏角色</li>
                                                                <li>游戏动作</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>交互设计</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>交互设计师</li>
                                                                <li>无线交互设计师</li>
                                                                <li>网页交互设计师</li>
                                                                <li>硬件交互设计师</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>用户研究</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>数据分析师</li>
                                                                <li>用户研究员</li>
                                                                <li>游戏数值策划</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端设计职位</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>设计经理/主管</li>
                                                                <li>设计总监</li>
                                                                <li>视觉设计经理/主管</li>
                                                                <li>视觉设计总监</li>
                                                                <li>交互设计经理/主管</li>
                                                                <li>交互设计总监</li>
                                                                <li>用户研究经理/主管</li>
                                                                <li>用户研究总监</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>运营</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>运营</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>用户运营</li>
                                                                <li>产品运营</li>
                                                                <li>数据运营</li>
                                                                <li>内容运营</li>
                                                                <li>活动运营</li>
                                                                <li>商家运营</li>
                                                                <li>品类运营</li>
                                                                <li>游戏运营</li>
                                                                <li>网络推广</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>编辑</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>副主编</li>
                                                                <li>内容编辑</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>客服</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>售前咨询</li>
                                                                <li>售后客服</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端运营职位</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>主编</li>
                                                                <li>运营总监</li>
                                                                <li>COO</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>市场与销售</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>市场/营销</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>市场营销</li>
                                                                <li>市场策划</li>
                                                                <li>市场顾问</li>
                                                                <li>市场推广</li>
                                                                <li>SEO</li>
                                                                <li>SEM</li>
                                                                <li>商务渠道</li>
                                                                <li>商业数据分析</li>
                                                                <li>活动策划</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>公关</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>媒介经理</li>
                                                                <li>广告协调</li>
                                                                <li>品牌公关</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>销售</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>销售专员</li>
                                                                <li>销售经理</li>
                                                                <li>客户代表</li>
                                                                <li>大客户代表</li>
                                                                <li>BD经理</li>
                                                                <li>商务渠道</li>
                                                                <li>渠道销售</li>
                                                                <li>代理商销售</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端市场职位</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>市场总监</li>
                                                                <li>销售总监</li>
                                                                <li>商务总监</li>
                                                                <li>CMO</li>
                                                                <li>公关总监</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>职能</dt>
                                                <dd>
                                                    <ul class="reset job_main">
                                                        <li>
                                                            <span>人力资源</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>人力资源</li>
                                                                <li>招聘</li>
                                                                <li>HRBP</li>
                                                                <li>人事/HR</li>
                                                                <li>培训经理</li>
                                                                <li>薪资福利经理</li>
                                                                <li>绩效考核经理</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>行政</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -160px;">
                                                                <li>助理</li>
                                                                <li>前台</li>
                                                                <li>法务</li>
                                                                <li>行政</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>财务</span>
                                                            <ul class="reset job_sub dn" style="margin-left: -310px;">
                                                                <li>会计</li>
                                                                <li>出纳</li>
                                                                <li>财务</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span>高端职能职位</span>
                                                            <ul class="reset job_sub dn">
                                                                <li>行政总监/经理</li>
                                                                <li>财务总监/经理</li>
                                                                <li>HRD/HRM</li>
                                                                <li>CFO</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </dd>
                                            </dl>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>职位名称</td>
                                    <td>
                                        <input type="text" placeholder="请输入职位名称，如：产品经理" value="{{com_job.com_job_name}}" name="com_job_name" id="positionName">
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>招聘人数</td>
                                    <td>
                                        <input type="text" placeholder="请输入招聘人数" value="{{com_job.com_job_num}}" name="com_job_num" id="positionName">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <table class="btm">
                            <tbody>
                                <tr>
                                    <td width="25">
                                        <span class="redstar">*</span>
                                    </td>
                                    <td width="85">工作性质</td>
                                    <td>
                                        <ul class="profile_radio clearfix reset">
                                            {% if com_job.com_job_type == '全职'%}
                                            <li class="current">
                                                {%else%}
                                                <li>
                                                    {%endif%} 全职

                                                    <em></em>
                                                    <input type="radio" name="com_job_type" value="全职">
                                                </li>
                                                {% if com_job.com_job_type == '兼职'%}
                                                <li class="current">
                                                    {%else%}
                                                    <li>
                                                        {%endif%} 兼职
                                                        <em></em>
                                                        <input type="radio" name="com_job_type" value="兼职">
                                                    </li>
                                                    {% if com_job.com_job_type == '实习'%}
                                                    <li class="current">
                                                        {%else%}
                                                        <li>
                                                            {%endif%} 实习
                                                            <em></em>
                                                            <input type="radio" name="com_job_type" value="实习">
                                                        </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>月薪范围</td>
                                    <!--<h3><span>(最高月薪不能大于最低月薪的2倍)</span></h3> -->
                                    <td>
                                        <div class="salary_range">
                                            <div>
                                                <input type="text" placeholder="月薪范围" value="{{com_job.com_job_salary}}" id="salaryMin" name="com_job_salary">
                                              
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>工作城市</td>
                                    <td>
                                        <input type="text" placeholder="请输入工作城市，如：北京" value="{{com_job.com_job_city}}" name="com_job_city" id="workAddress">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="btm">
                            <tbody>
                                <tr>
                                    <td width="25">
                                        <span class="redstar">*</span>
                                    </td>
                                    <td width="85">工作经验</td>
                                    <td>
                                        <input type="hidden" id="experience" value="{{com_job.com_job_exp}}" name="com_job_exp">
                                        <input type="button" value="{{com_job.com_job_exp}}" id="select_experience" class="selectr selectr_380">
                                        <div class="boxUpDown boxUpDown_380 dn" id="box_experience" style="display: none;">
                                            <ul>
                                                {% if com_job.com_job_exp == '不限'%}
                                                <li class="current">{%else%}
                                                    <li>{%endif%} 不限
                                                    </li>

                                                    {% if com_job.com_job_exp == '应届毕业生'%}
                                                    <li class="current">
                                                        {%else%}
                                                        <li>
                                                            {%endif%}应届毕业生
                                                        </li>

                                                        {% if com_job.com_job_exp == '1年以下'%}
                                                        <li class="current">
                                                            {%else%}
                                                            <li>
                                                                {%endif%}1年以下
                                                            </li>
                                                            
                                                            {% if com_job.com_job_exp == '1-3年'%}
                                                            <li class="current">
                                                                {%else%}
                                                                <li>
                                                                    {%endif%}1-3年
                                                                </li>
                                                                {% if com_job.com_job_exp == '3-5年'%}
                                                                <li class="current">
                                                                    {%else%}
                                                                    <li>
                                                                        {%endif%}3-5年
                                                                    </li>
                                                                    {% if com_job.com_job_exp == '5-10年'%}
                                                                    <li class="current">
                                                                        {%else%}
                                                                        <li>
                                                                            {%endif%}5-10年
                                                                        </li>
                                                                        {% if com_job.com_job_exp == '10年以上'%}
                                                                        <li class="current">
                                                                            {%else%}
                                                                            <li>
                                                                                {%endif%}10年以上
                                                                            </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>学历要求</td>
                                    <td>
                                        <input type="hidden" id="education" value="{{com_job.com_job_edu}}" name="com_job_edu">
                                        <input type="button" value="{{com_job.com_job_edu}}" id="select_education" class="selectr selectr_380">
                                        <div class="boxUpDown boxUpDown_380 dn" id="box_education" style="display: none;">
                                            <ul>
                                                <li>不限
                                                </li>
                                                <li>大专
                                                </li>
                                                <li>本科
                                                </li>
                                                <li>硕士
                                                </li>
                                                <li>博士
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="btm">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>职位描述</td>
                                    <td>
                                        <textarea name="com_job_desc" id="positionDetail">{{com_job.com_job_desc}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="redstar">*</span>
                                    </td>
                                    <td>工作地址</td>
                                    <td>
                                        <input type="text" placeholder="请输入详细的工作地址" value="{{com_job.com_job_addr}}" name="com_job_addr" class="input_520" id="positionAddress">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td width="25"></td>
                                    <input type="hidden" value="1" name="com_job_status">
                                    <input type="hidden" value="{{com_job.com_user_phone}}" name="com_user_phone">
                                    <input type="hidden" value="{{com_job.com_job_id}}" name="com_job_id">
                                    <td colspan="2">
                                      
                                        {% if com_job.com_job_id != null %}
                                        <input type="submit" value="更新" class="btn_32"> {%else%}
                                        <input type="submit" value="发布" class="btn_32"> {%endif%}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
            </dd>
        </dl>
    </div>

    <div class="clear"></div>

    <a rel="nofollow" title="回到顶部" id="backtop" style="display:none;"></a>
</div>
<!-- end #container -->
<script src="/style/js/jobs.min.js " type="text/javascript "></script>
<script src="/style/js/core.min.js " type="text/javascript "></script>
<script src="/style/js/popup.min.js " type="text/javascript "></script>

{% endblock %}