{% extends "base.html" %} {% block main %}
<div id="container">
	<div class="sidebar">
		<a class="btn_create" href="create.html">发布新职位</a>
		<dl class="company_center_aside">
			<dt>我收到的简历</dt>

			<dd>
				<a href="/com/job/cv/2">待查看简历</a>
			</dd>

			<dd>
				<a href="/com/job/cv/3">已查看简历</a>
			</dd>

			<dd>
				<a href="/com/job/cv/1">已通知面试简历</a>
			</dd>

			<dd>
				<a href="/com/job/cv/-1">不合适简历</a>
			</dd>
		</dl>
		<dl class="company_center_aside">
			<dt>我发布的职位</dt>

			{% if state == 1 %}
			<dd class="current">
				<a href="/com/my/job/1">有效职位</a>
			</dd>
			<dd>
				<a href="/com/my/job/0">已下线职位</a>
			</dd>
			{%else%}
			<dd>
				<a href="/com/my/job/1">有效职位</a>
			</dd>
			<dd class="current">
				<a href="/com/my/job/0">已下线职位</a>
			</dd>
			{%endif%}

		</dl>
	</div>
	<!-- end .sidebar -->
	<div class="content">
		<dl class="company_center_content">
			<dt>
				<h1>
					<em></em>{% if state == 1 %} 有效职位 {%else%}已下线职位 {%endif%} </h1>
			</dt>
			<dd>

				{% for com_job in com_jobs %}
				<form id="searchForm">
					<input type="hidden" value="Publish" name="type">
					<ul class="reset my_jobs">
						<li data-id="">
							<h3>
								<a target="_blank" title="{{com_job.com_job}}" href="">{{com_job.com_job}}</a>
								<span>{{com_job.com_job_city}}</span>
							</h3>
							<span class="receivedResumeNo"><a href="">应聘简历</a></span>
							<div>{{com_job.com_job_type}} / {{com_job.com_job_salary}}k / 工作经验：{{com_job.com_job_exp}} / {{com_job.com_job_edu}}</div>
							<div class="c9">发布时间： {{com_job.com_job_f_time}}</div>
							<div class="links">

								{% if state == 1 %} <a target="_blank" class="job_edit" href="/com/update/job/{{com_job.com_job_id}}">编辑</a>
								<a class="job_offline" href="javascript:void(0)">下线</a> {%else%}
								<a class="job_offline">已下线</a> {%endif%}

							</div>
						</li>
					</ul>
				</form>

				{% endfor %}



			</dd>
		</dl>
	</div>
	<!-- end .content -->

	<div class="clear"></div>

	<a rel="nofollow" title="回到顶部" id="backtop"></a>
</div>
<!-- end #container -->
{% endblock %}