{% extends "base.html" %} {% block main %}

    <div id="container">
<div class="sidebar">
	<div id="options" class="greybg">
		<dl>
			<dt>月薪范围 <em></em></dt>
			<dd>
				{% for t_salary in term_salary %}
				
				<div><a href='/search/job/add/com_job_salary/{{t_salary.term_salary}}'>{{t_salary.term_salary}}</a></div>
			{% endfor %}
			</dd>
		</dl>
		<dl>
			<dt>工作经验 <em></em></dt>
			<dd>
			{% for t_exp in term_exp %}
				<div><a href='/search/job/add/com_job_exp/{{t_exp.term_exp}}'>{{t_exp.term_exp}}</a></div>
			{% endfor %}
			
			</dd>
		</dl>
		<dl>
			<dt>最低学历 <em></em></dt>
			<dd>
			{% for t_edu in term_edu %}
				<div><a href='/search/job/add/com_job_edu/{{t_edu.term_edu}}'>{{t_edu.term_edu}}</a></div>
			{% endfor %}
			</dd>
		</dl>
		<dl>
			<dt>工作性质 <em></em></dt>
			<dd>
				<div><a href='/search/job/add/com_job_type/全职'>全职</a></div>
				<div><a href='/search/job/add/com_job_type/兼职'>兼职</a></div>
				<div><a href='/search/job/add/com_job_type/实习'>实习</a></div>
			</dd>
		</dl>
		<dl>
			<dt>发布时间 <em></em></dt>
			<dd>
				<div>今天</div>
				<div>3天内</div>
				<div>一周内</div>
				<div>一月内</div>
			</dd>
		</dl>
	</div>



</div>

<div class="content">
	<div id="search_box">
		<form id="searchForm" name="searchForm" action="/search/job" method="post">
			<ul id="searchType">
				<li data-searchtype="1" class="type_selected">职位</li>
				<li data-searchtype="4">公司</li>
			</ul>
			<div class="searchtype_arrow"></div>
			<input type="text" id="search_input" name="s_com_job" tabindex="1" value="" placeholder="请输入职位名称，如：产品经理" />
			
			<input type="submit" id="search_button" value="搜索" />
		</form>
	</div>
	<style>
		.ui-autocomplete {
			width: 488px;
			background: #fafafa !important;
			position: relative;
			z-index: 10;
			border: 2px solid #91cebe;
		}

		.ui-autocomplete-category {
			font-size: 16px;
			color: #999;
			width: 50px;
			position: absolute;
			z-index: 11;
			right: 0px;
			/*top: 6px; */
			text-align: center;
			border-top: 1px dashed #e5e5e5;
			padding: 5px 0;
		}

		.ui-menu-item {
			*width: 439px;
			vertical-align: middle;
			position: relative;
			margin: 0px;
			margin-right: 50px !important;
			background: #fff;
			border-right: 1px dashed #ededed;
		}

		.ui-menu-item a {
			display: block;
			overflow: hidden;
		}
	</style>
	<script type="text/javascript" src="/style/js/search.min.js"></script>
	<dl class="hotSearch">
		<dt>热门搜索：</dt>
		<dd><a>Java</a></dd>
		<dd><a>PHP</a></dd>
		<dd><a>Android</a></dd>
		<dd><a>iOS</a></dd>
		<dd><a>前端</a></dd>
		<dd><a>产品经理</a></dd>
		<dd><a>UI</a></dd>
		<dd><a>运营</a></dd>
		<dd><a>BD</a></dd>
		<dd><a>实习</a></dd>
	</dl>
	<div class="breakline"></div>
	<dl class="workplace" id="workplaceSelect">
		<dt class="fl">工作地点：</dt>
		<dd>
			<a href="/search/job">全国</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/北京">北京</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/上海">上海</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/广州">广州</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/深圳">深圳</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/成都">成都</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/杭州">杭州</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/武汉">武汉</a> |
		</dd>
		<dd>
			<a href="/search/job/add/com_job_city/南京">南京</a> |
		</dd>
		<dd class="more">
			<a href="/search/job/">其他</a>
			<div class="triangle citymore_arrow"></div>
		</dd>
		<dd id="box_expectCity" class="searchlist_expectCity dn">
			<span class="bot"></span>
			<span class="top"></span>
			<dl>
				<dt>ABCDEF</dt>
				<dd>
					<span>北京</span>
					<span>长春</span>
					<span>成都</span>
					<span>重庆</span>
					<span>长沙</span>
					<span>常州</span>
					<span>东莞</span>
					<span>大连</span>
					<span>佛山</span>
					<span>福州</span>
				</dd>
			</dl>
			<dl>
				<dt>GHIJ</dt>
				<dd>
					<span>贵阳</span>
					<span>广州</span>
					<span>哈尔滨</span>
					<span>合肥</span>
					<span>海口</span>
					<span>杭州</span>
					<span>惠州</span>
					<span>金华</span>
					<span>济南</span>
					<span>嘉兴</span>
				</dd>
			</dl>
			<dl>
				<dt>KLMN</dt>
				<dd>
					<span>昆明</span>
					<span>廊坊</span>
					<span>宁波</span>
					<span>南昌</span>
					<span>南京</span>
					<span>南宁</span>
					<span>南通</span>
				</dd>
			</dl>
			<dl>
				<dt>OPQR</dt>
				<dd>
					<span>青岛</span>
					<span>泉州</span>
				</dd>
			</dl>
			<dl>
				<dt>STUV</dt>
				<dd>
					<span>上海</span>
					<span>石家庄</span>
					<span>绍兴</span>
					<span>沈阳</span>
					<span>深圳</span>
					<span>苏州</span>
					<span>天津</span>
					<span>太原</span>
					<span>台州</span>
				</dd>
			</dl>
			<dl>
				<dt>WXYZ</dt>
				<dd>
					<span>武汉</span>
					<span>无锡</span>
					<span>温州</span>
					<span>西安</span>
					<span>厦门</span>
					<span>烟台</span>
					<span>珠海</span>
					<span>中山</span>
					<span>郑州</span>
				</dd>
			</dl>
		</dd>
	</dl>

		<dl class="workplace" id="workplaceSelect">
		<dt class="fl">已选条件：</dt>
	{% if search_com_job!=null%}{%if search_com_job.com_job_city!='' %}	<dd>
			<a class="current">{{search_com_job.com_job_city}}</a>
		</dd>
		{%endif%}{%endif%}
		{% if search_com_job!=null%}{%if search_com_job.com_job_salary!='' %}	<dd>
			<a class="current">{{search_com_job.com_job_salary}}</a>
		</dd>
		{%endif%}	{%endif%}

		{% if search_com_job!=null%}	{%if search_com_job.com_job_edu!='' %}	<dd>
			<a class="current">{{search_com_job.com_job_edu}}</a>
		</dd>
		{%endif%}{%endif%}

			{% if search_com_job!=null%}{%if search_com_job.com_job_exp!='' %}	<dd>
			<a class="current">{{search_com_job.com_job_exp}}</a>
		</dd>
		{%endif%}{%endif%}
{% if search_com_job!=null%}
			{%if search_com_job.com_job_type!='' %}	<dd>
			<a class="current">{{search_com_job.com_job_type}}</a>
		</dd>
		{%endif%}
			{%endif%}
			{%if search_com_job!=null%}	<dd>
			<a class="current" href="/search/job">清空</a>
		</dd>
		{%endif%}

	

		</dl>

	<ul class="hot_pos reset">


{% for res in results %}

{% if loop.index%2 == 0 %}
<li class="odd clearfix">
{%else%}
<li class="clearfix">
{% endif %}
		
			<div class="hot_pos_l">
				<div class="mb10">
					<a href="/job_info/{{res.com_job_id}}" title="{{res.com_job}}" target="_blank">{{res.com_job}}</a> &nbsp;
					<span class="c9">[{{res.com_job_city}}]</span>
				</div>
				<span><em class="c7">月薪：</em>{{res.com_job_salary}}</span>
				<span><em class="c7">经验：</em>{{res.com_job_exp}}</span>
				<span><em class="c7">最低学历： </em>{{res.com_job_edu}}</span>
				<br />
				<span><em class="c7">职位简介：</em>{{res.com_job_desc}}</span>
				<br />
				<span>{{res.com_job_f_time}}</span>
			</div>
			<div class="hot_pos_r">
				<div class="apply">
					<a href="/job_info/{{res.com_job_id}}" target="_blank">投个简历</a>
				</div>
				<div class="mb10"><a href="h/c/1712.html" title="{{res.com_name}}" target="_blank">{{res.com_name}}</a></div>
				<span><em class="c7">领域： </em>{{res.com_label}}</span>
				<span><em class="c7">HR：</em> {{res.com_hr}}</span>
				<br />
				<span><em class="c7">资本： </em>{{res.com_capital}}万元</span>
				<span><em class="c7">规模： </em>{{res.com_scale}}</span>
				<ul class="companyTags reset">
					<li>{{res.com_type}}</li>
					<li>五险一金</li>
					<li>股票期权</li>
					<li>年度旅游</li>
				</ul>
			</div>
		</li>

{% endfor %}

		


	</ul>

</div>



<div class="clear"></div>
<input type="hidden" id="resubmitToken" value="" />
<a id="backtop" title="回到顶部" rel="nofollow"></a>
</div>
<!-- end #container -->
{% endblock %}