{% extends "base.html" %} {% block main %}
		<div id="container">

			<div class="content_mid">
				<dl class="c_section c_section_mid">
					<dt>
						<h2><em></em>填写个人信息</h2>
					</dt>
					<dd>
						<form id="stepForm">
							<div class="c_text_1">基本信息为必填项，可以让公司了解你的基本信息，认真填写吧！</div>

							<h3>本人姓名</h3>
							<!--必填-->
							<input type="text" placeholder="请输入本人姓名" value="{{seeker.seeker_name}}" name="seeker_name" id="name" class="valid">

							<h3>本人性别</h3>
							<div>
								<input type="hidden" id="seeker_sex" name="seeker_sex" value="">
								<ul class="s_radio clearfix s_radio_ex">
									<li>男</li>
									<li>女</li>
								</ul>
							</div>

							<h3>本人照片</h3>
							<!--非必填改必填-->
							<div class="c_logo c_logo_pos">
								<a title="上传个人照片" class="inline cboxElement" href="#logoUploader">
									<div id="logoNo">
										<span>上传本人照片</span> <br> 尺寸：120*120px <br> 大小：小于5M
									</div>
									<div class="dn" id="logoShow">
										<img width="120" height="120" alt="个人照片" src="">
										<span>更换本人照片<br>120px*120px 小于5M</span>
									</div>
								</a>
							</div>

							<h3>手机号码</h3>
							<input type="text" placeholder="请输入手机号码" value="{{seeker.seeker_user_phone}}" name="seeker_user_phone" id="seeker_user_phone">

							<h3>个人邮箱</h3>
							<input type="text" placeholder="请输入个人邮箱" value="{{seeker.seeker_email}}" name="seeker_email" id="seek_email">

							<h3>所在城市</h3>
							<input type="text" placeholder="请输入工作城市，如：北京" value="{{seeker.seeker_living}}" name="seeker_living" id="seeker_living">

							<h3>本人学历</h3>
							<div>
								<input type="hidden" value="{{seeker.seeker_edu}}" name="seeker_edu" id="seeker_edu_education">
								<input type="button" value="请选择你的学历" id="seeker_edu_button" class="select">
								<div class="dn" id="box_scale" style="display: none;">
									<ul class="reset">
										 {% if seeker.seeker_edu == '大专'%}  <li class="current"> 大专</li>{%else%}<li>大专</li>{%endif%}
										  {% if seeker.seeker_edu == '本科'%}  <li class="current"> 本科</li>{%else%}<li>本科</li>{%endif%}
										   {% if seeker.seeker_edu == '硕士'%}  <li class="current"> 硕士</li>{%else%}<li>硕士</li>{%endif%}
										    {% if seeker.seeker_edu == '博士'%}  <li class="current"> 博士</li>{%else%}<li>博士</li>{%endif%}
											 {% if seeker.seeker_edu == '其他'%}  <li class="current"> 其他</li>{%else%}<li>其他</li>{%endif%}
									
									</ul>
								</div>
							</div>

							<h3>工作年龄</h3>
							<div>
								<input type="hidden" value="{{seeker.seeker_exp}}" name="seeker_exp" id="seeker_now">
								<input type="button" value="请选择工作年龄" name="seeker_now_button" id="seeker_now_button" class="select">
								<div class="dn" id="box_industry" style="display: none;">
									<ul class="reset">
									 {% if seeker.seeker_exp == '不限'%}
                                                <li class="current">{%else%}
                                                    <li>{%endif%} 不限
                                                    </li>

                                                    {% if seeker.seeker_exp == '应届毕业生'%}
                                                    <li class="current">
                                                        {%else%}
                                                        <li>
                                                            {%endif%}应届毕业生
                                                        </li>

                                                        {% if seeker.seeker_exp == '1年以下'%}
                                                        <li class="current">
                                                            {%else%}
                                                            <li>
                                                                {%endif%}1年以下
                                                            </li>

                                                            {% if seeker.seeker_exp == '1-3年'%}
                                                            <li class="current">
                                                                {%else%}
                                                                <li>
                                                                    {%endif%}1-3年
                                                                </li>

                                                                {% if seeker.seeker_exp == '3-5年'%}
                                                                <li class="current">
                                                                    {%else%}
                                                                    <li>
                                                                        {%endif%}3-5年
                                                                    </li>

                                                                    {% if seeker.seeker_exp == '5-10年'%}
                                                                    <li class="current">
                                                                        {%else%}
                                                                        <li>
                                                                            {%endif%}5-10年
                                                                        </li>
                                                                        
                                                                        {% if seeker.seeker_exp == '10年以上'%}
                                                                        <li class="current">
                                                                            {%else%}
                                                                            <li>
                                                                                {%endif%}10年以上
                                                                            </li>
									</ul>
								</div>
							</div>

							<h3>个人介绍</h3>
							<textarea placeholder="请简单的描述个人的基本状况和信息" name="seeker_self" id="seeker_self"></textarea>
							<span style="display:none;" class="error" id="beError"></span>
							<input type="submit" value="保存，完成" id="stepBtn" class="btn_big fr">
						</form>
					</dd>
				</dl>
			</div>

		
			<div style="display:none;">
				<!--图片上传-->

			</div>
		

			<script src="/style/js/s_info.min.js" type="text/javascript"></script>
			<script>
				var avatar = {};
				avatar.uploadComplate = function (data) {
					var result = eval('(' + data + ')');
					if (result.success) {
						jQuery('#logoShow img').attr("src", ctx + '/' + result.content);
						jQuery.colorbox.close();
						jQuery('#logoNo').hide();
						jQuery('#logoShow').show();
					}
				};

			</script>
			<div class="clear"></div>

			<a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
		</div>
		<!-- end #container -->
	</div>


{% endblock %}