{% extends "base.html" %} {% block main %}

<div>
<br>
注册
     <form  action="login_valid" method="POST">
   

         姓名： <input name="seeker_name" type="text" ><br>
        照片：<input name="user_pwd" type="text"><br>
        账号： <input name="user_phone" type="text" ><br>
        性别：<input name="user_pwd" type="radio" value="男"><input name="user_pwd" type="radio" value="女"><br>
        参加工作年份： <input name="user_phone" type="text" ><br>
        户口所在地：<input name="user_pwd" type="text"><br>
        现居地： <input name="user_phone" type="text" ><br>
        电子邮箱：<input name="user_pwd" type="text"><br>
        工作性质： <input name="user_phone" type="text" ><br>
        期望工作地点：<input name="user_pwd" type="text"><br>
        期望从事职业： <input name="user_phone" type="text" ><br>
        期望薪水：<input name="user_pwd" type="text"><br>
        自我评价： <input name="user_phone" type="text" ><br>
        工作状态：<input name="user_pwd" type="text"><br>
        <button type="submit">注册</button>
        {{msg}}
  
</form>
<br>
</div>

{% endblock %}